
.light .theme-neutral {
  --primary: black;
}

.light .theme-slate {
  --primary: hsl(210, 15%, 50%);
}

.light .theme-stone {
  --primary: hsl(0, 0%, 50%);
}

.light .theme-tan {
  --primary: hsl(35, 50%, 70%);
}

.light .theme-khaki {
  --primary: hsl(55, 75%, 75%);
}

.light .theme-bisque {
  --primary: hsl(35, 100%, 85%);
}

.light .theme-rose {
  --primary: hsl(345, 75%, 50%);
}

.light .theme-coral {
  --primary: hsl(20, 100%, 60%);
}

.light .theme-salmon {
  --primary: hsl(5, 100%, 70%);
}

.light .theme-peach {
  --primary: hsl(0, 85%, 75%);
}

.light .theme-orchid {
  --primary: hsl(302, 100%, 65%);
}

.light .theme-rebecca {
  --primary: hsl(270, 50%, 45%);
}

.light .theme-royal {
  --primary: hsl(219, 85%, 55%);
}

.light .theme-lavender {
  --primary: hsl(240, 75%, 75%);
}

.light .theme-midnight {
  --primary: hsl(240, 70%, 25%);
}

.light .theme-lime {
  --primary: hsl(120, 100%, 50%);
}

.light .theme-aqua {
  --primary: hsl(180, 100%, 50%);
}

.light .theme-emerald {
  --primary: hsl(190, 80%, 25%);
}

.light .theme-gold {
  --primary: hsl(50, 100%, 50%);
}

.light .theme-amber {
  --primary: hsl(45, 100%, 50%);
}

.light .theme-amethyst {
  --primary: hsl(270, 50%, 60%);
}
